@charset "utf-8";
/* CSS Document */
.torrents-zz {
    color:yellow;
    background-color:crimson;;
    font-size: 14px;
}


.music_cover {
    width: 53px;
    height: 46px;
    text-align: center;
    vertical-align: middle;
}
.music_cover img {
    width: 100%;
    height: 100%;
}